In [52]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\berat\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\berat\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\berat\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\berat\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\berat\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\berat\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\Berat\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [53]:
import pandas as pd 
df = pd.read_csv("weather_data.csv") # Initialize dataframe reading from csv
df

        day   temperature   windspeed   event
0  1/1/2017            32           6    Rain
1  1/2/2017            35           7   Sunny
2  1/3/2017            28           2    Snow
3  1/4/2017            24           7    Snow
4  1/5/2017            32           4    Rain
5  1/6/2017            32           2   Sunny

In [54]:
# --- CREATE DATAFRAME WITH PYTHON DICTIONARY ---- 
weather_data_dict = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 27, 23, 32, 31],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df_dict = pd.DataFrame(weather_data_dict)
df_dict

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           27   Snow
3  1/4/2017           23   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [55]:
# --- PRINT SHAPE OF DATAFRAME ---
df.shape

(6, 4)

In [56]:
# --- PRINT INDIVIDUAL COUNT OF ROWS --- 
rows, columns = df.shape
rows

6

In [57]:
# --- PRINT INITIAL FIRST FEW ROWS ---
df.head() # Can take params, df.head(2) returns first 2 rows

        day   temperature   windspeed   event
0  1/1/2017            32           6    Rain
1  1/2/2017            35           7   Sunny
2  1/3/2017            28           2    Snow
3  1/4/2017            24           7    Snow
4  1/5/2017            32           4    Rain

In [58]:
# --- PRINT LAST ROW ---
df.tail(1)

        day   temperature   windspeed   event
5  1/6/2017            32           2   Sunny

In [59]:
# --- GET ROWS 2-4 ---
df[2:5]

        day   temperature   windspeed  event
2  1/3/2017            28           2   Snow
3  1/4/2017            24           7   Snow
4  1/5/2017            32           4   Rain

In [60]:
# --- PRINT COLUMNS ---
df.columns

Index(['day', ' temperature', ' windspeed', ' event'], dtype='object')

In [61]:
# --- PRINT CERTAIN COLUMN ---
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [62]:
# --- PRINT TYPE OF DATA IN COLUMN --- 
type(df['day'])

pandas.core.series.Series

In [63]:
# --- PRINT CERTAIN COLUMNS ---
df_dict[['temperature', 'day']]

   temperature       day
0           32  1/1/2017
1           35  1/2/2017
2           27  1/3/2017
3           23  1/4/2017
4           32  1/5/2017
5           31  1/6/2017

In [64]:
# --- DF NUMERIC OPERATIONS --- 
df_dict['temperature'].max()
df_dict['temperature'].min()
df_dict['temperature'].mean()
df_dict['temperature'].median()
df_dict['temperature'].std()

4.2895221179054435

In [65]:
# --- PRINT STATISTICS OF DATAFRAME --- 
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [66]:
# --- CONDITIONALLY SELECT DATA WHERE TEMPERATURE IS >= 32 ---
df_dict[df_dict.temperature>=32]

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
4  1/5/2017           32   Rain

In [67]:
# --- GET ONLY MAX ROW --- 
df_dict[df_dict.temperature==df_dict['temperature'].max()]
df_dict[['day', 'temperature']][df_dict.temperature==df_dict['temperature'].max()] # Print day and temperature only

        day  temperature
1  1/2/2017           35

In [68]:
# --- SET INDEX AS DAY ---
df_dict.set_index('day', inplace=True)

In [73]:
df_dict

          temperature  event
day
1/1/2017           32   Rain
1/2/2017           35  Sunny
1/3/2017           27   Snow
1/4/2017           23   Snow
1/5/2017           32   Rain
1/6/2017           31  Sunny

In [74]:
df_dict.loc['1/2/2017']

temperature       35
event          Sunny
Name: 1/2/2017, dtype: object

In [75]:
# --- RESET INDEX ---
df_dict.reset_index(inplace=True)
df_dict

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           27   Snow
3  1/4/2017           23   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [76]:
# --- EXPORT TO CSV ---
df_dict.to_csv('data.csv', index=False)